.mainColor{
  color: #C22F2F;
}
.bg-main{
  background-color: #C22F2F;
}
.bg-image{
  background-image: url(Assets/imges/istockphoto-1182393436-612x612.jpg);
  
}
.bg-op{
  background-color: rgba(194, 47, 47, 0.95);
}
.textMeal{

  transition-property:transform ;
  transition: all 1s;
  
  
}
.item:hover .textMeal{

 transform: translateY(-100%);
 
}
.min-hi{
  min-height: 350px;
}